services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: foxbase
      POSTGRES_PASSWORD: foxbase
      POSTGRES_DB: foxbase_filtering
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
